@charset "UTF-8";

html {
    font-size: calc(10 * 100vw / 390);
    scroll-behavior: smooth;
}

@media (min-width:768px) {
    html {
        font-size: calc(10 * 100vw / 1200);
    }
}

@media (min-width:1200px) {
    html {
        font-size: 62.5%;
    }
}

/* ページ全体のスタイル ----------*/
body {
    font-family: "Noto Serif JP", serif;
    line-height: 1.75;
    color: #000;
}

a {
    color: #fff;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

li {
    list-style: none;
}


/* 部品 */
.container {
    margin: 0 1.6rem;
}

@media (min-width:768px) {
    .container {
        margin: 0 15rem;
    }
}

.section-title {
    margin: 0 auto;
    line-height: 1.5;
}

.section-title__heading {
    font-family: "EB Garamond", serif;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: .15rem;
}

@media (min-width:768px) {
    .section-title__heading {
        font-size: 4.5rem;
    }
}

.section-title__lead {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: .07rem;
}

@media (min-width:768px) {
    .section-title__lead {
        margin-top: .2rem;
        font-size: 2rem;
    }
}


/* ヘッダー ----------*/
.header {
    position: relative;
    padding-bottom: 15.7rem;
}

@media (min-width:768px) {
    .header {
        padding-bottom: 0;
    }
}

.header img {
    width: 100%;
    height: auto;
}

.header__logo {
    position: absolute;
    top: 2.9%;
    left: 32%;
    font-family: "Marcellus", serif;
    font-size: 2.4rem;
    font-weight: 400;
    letter-spacing: .47rem;
}

@media (min-width:768px) {
    .header__logo {
        top: 3.5%;
        left: 44.5%;
        font-size: 2.8rem;
        letter-spacing: .55rem;
    }
}

.catch {
    position: absolute;
    bottom: 9.1%;
    left: 6%;
    line-height: 1;
}

@media (min-width:768px) {
    .catch {
        bottom: 38.5%;
        left: 14.9%;
    }
}

.catch__title {
    margin-bottom: 1rem;
    line-height: 1.25;
    font-family: "Marcellus", serif;
    font-size: 4.1rem;
    font-weight: 400;
    letter-spacing: 1.23rem;
}

@media (min-width:768px) {
    .catch__title {
        margin-bottom: 1.2rem;
        font-size: 5rem;
        letter-spacing: 1.5rem;
        line-height: 1.35;
    }
}

.catch__lead {
    font-size: 2rem;
    letter-spacing: .6rem;
}

@media (min-width:768px) {
    .catch__lead {
        font-size: 2.5rem;
        letter-spacing: .75rem;
    }
}


/* shop ----------*/
.shop {
    margin-bottom: 5rem;
}

@media (min-width:768px) {
    .shop {
        padding-top: 4.8rem;
    }
}

.container--blue {
    background-color: #F0F4FF;
    padding-bottom: 3.4rem;
}

@media (min-width:768px) {
    .container--blue {
        margin: 0 auto;
        width: 100rem;
        display: flex;
        justify-content: space-between;
        padding: 3.7rem 4.8rem 3.6rem;
    }
}

.product {
    padding-top: 1.7rem;
    margin-bottom: 1.8rem;
    text-align: center;
    color: #111;
}

@media (min-width:768px) {
    .product {
        padding-top: 0;
        margin-bottom: 0;
        text-align: center;
    }
}

.product__head {
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .18rem;
}

@media (min-width:768px) {
    .product__head {
        font-size: 2.4rem;
        letter-spacing: .25rem;
    }
}

.product__foot {
    font-size: 1.4rem;
}

@media (min-width:768px) {
    .product__foot {
        margin-top: .1rem;
        font-size: 1.6rem;
        text-indent: -10rem;
    }
}

.product__foot span {
    margin-left: .8rem;
    letter-spacing: .1rem;
}

@media (min-width:768px) {
    .product__foot span {
        letter-spacing: .16rem;
    }
}

@media (min-width:768px) {
    .button-group {
        display: flex;
        column-gap: 3.2rem;
        align-items: center;
    }
}

.shop__button {
    display: block;
    width: 30rem;
    height: 5.8rem;
    margin: 0 auto 2rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
    background-color: #46C4DB;
    border-radius: 3.4rem;
    border: none;
}

@media (min-width:768px) {
    .shop__button {
        margin-bottom: 0;
    }
}

.shop__form {
    display: block;
    width: 30rem;
    height: 5.8rem;
    margin: 0 auto;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
    background-color: #5DD5AB;
    border-radius: 3.4rem;
}

.shop__form button {
    width: 100%;
    height: 100%;
}


/* concept ----------*/
.concept {
    padding-top: 4.3rem;
    padding-bottom: 31rem;
    color: #fff;
    background-image: url(/assets/image/concept/concept_sp.jpg);
    background-size: cover;
}

@media (min-width:768px) {
    .concept {
        padding-top: 12.1rem;
        padding-bottom: 12rem;
        background-image: url(/assets/image/concept/concept_pc.jpg);
    }
}

@media (min-width:768px) {
    .concept-block {
        width: 43rem;
        margin-left: auto;
        margin-right: 9.1rem;
    }
}

.primary-title {
    line-height: 1.63;
}

.primary-title__heading {
    letter-spacing: 0;
}

@media (min-width:768px) {
    .primary-title__heading {
        font-size: 3.8rem;
        text-align: justify;
    }
}

.primary-title__lead {
    font-size: 2.4rem;
    letter-spacing: 0;
}

@media (min-width:768px) {
    .primary-title__lead {
        font-size: 2.4rem;
        text-align: justify;
    }
}

.concept__text {
    font-size: 1.4rem;
    margin-top: 1.3rem;
    line-height: 2.3;
}

@media (min-width:768px) {
    .concept__text {
        margin-top: 1.5rem;
    }
}


/* voice */
.voice {
    padding-top: 4.7rem;
    padding-bottom: 4.5rem;
}

@media (min-width:768px) {
    .voice {
        padding-top: 7.6rem;
        padding-bottom: 8.4rem;
    }
}

@media (min-width:768px) {
        .voice .container {
            margin: 0 auto;
        }
    }

.carousel {
    width: 78.2%;
    margin: 3.6rem auto;
}

@media (min-width:768px) {
    .carousel {
        margin-top: 3.8rem;
        width: 98rem;
    }
}

.slick-slide {
    padding-bottom: 2.5rem;
    background-color: #DBF7F9;
}

@media (min-width:768px) {
    .slick-slide {
        width: 30rem;
        margin-right: 4rem;
        padding-bottom: 3.8rem;
    }
}

.slick__avatar {
    text-align: center;
    font-size: 1.4rem;
}

@media (min-width:768px) {
    .slick__avatar {
        font-size: 1.5rem;
    }
}

.slick-slide img {
    width: 28.5%;
    margin: 2.8rem 10.5rem .6rem;
}

@media (min-width:768px) {
    .slick-slide img {
        width: 33.5%;
        margin: 4rem 10rem .5rem;
    }
}

.slick__text {
    font-size: 1.4rem;
    margin: 1.4rem 1.6rem 0 1.4rem;
    line-height: 2;
}

@media (min-width:768px) {
    .slick__text {
        margin-top: 1rem;
        margin-left: 1.7rem;
        font-size: 1.6rem;
        line-height: 1.75;
    }
}

/* Slick矢印 */
.slick-arrow {
    position: absolute;
    top: 45.5%;
    cursor: pointer;
}

@media (min-width:768px) {
    .slick-arrow {
        top: 43.5%;
        width: 5%;
    }
}

.prev-arrow {
    left: -3.9rem;
}

@media (min-width:768px) {
    .prev-arrow {
        left: -9%;
    }
}

.next-arrow {
    right: -3.9rem;
}

@media (min-width:768px) {
    .next-arrow {
        right: -9%;
    }
}

/* slickドット */
.slick-dots {
    bottom: -3rem;
    text-indent: -1.3rem;
}

@media (min-width:768px) {
    .slick-dots {
        bottom: -3.8rem;
    }
}

.slick-dots li {
    width: .7rem;
}

.slick-dots li button:before {
    font-size: .9rem;
}

.slick-dots li.slick-active button:before {
    color: #00AFBF;
}

.slick-dots li button:before {
    color: #EEE;
}


/* qa ----------*/
.qa {
    padding-top: 2.8rem;
    padding-bottom: 1.2rem;
    background: linear-gradient(to right, rgb(244, 255, 232), rgb(198, 240, 254))
}

@media (min-width:768px) {
    .qa {
        padding-top: 3.5rem;
        padding-bottom: .2rem;
    }
}

.qa-wrap {
    margin-top: 3.8rem;
}

@media (min-width:768px) {
    .qa-wrap {
        margin: 4rem auto;
        width: 60rem;
    }
}

.qa-content {
    margin-bottom: 2rem;
    background-color: #fff;
}

@media (min-width:768px) {
    .qa-content {
        margin-bottom: 2.3rem;
    }
}

@media (min-width:768px) {
    .qa-content:not(:first-child) {
        margin-bottom: 2.5rem;
    }
}

.question,
.answer__inner {
    display: flex;
    column-gap: 1.2rem;
    padding: 1.5rem 1.4rem 1.3rem 1.6rem;
}

.question {
    position: relative;
}

@media (min-width:768px) {
    .question {
        column-gap: 1.7rem;
        padding: 2.1rem 2.2rem 1.6rem 2.4rem;
    }

}

.qa-content:not(:first-child) .question {
    padding-bottom: 1.7rem;
}

@media (min-width:768px) {
    .qa-content:not(:first-child) .question {
        padding-top: 2rem;
        padding-bottom: 1.9rem;
    }
}

.qa-content:last-child .question {
    padding-bottom: 1.6rem;
}

.answer {
    display: none;
}

.answer__inner {
    padding-top: 0;
    padding-bottom: 2.9rem;
}

@media (min-width:768px) {
    .answer__inner {
        padding: 0 2.4rem 2.2rem;
        column-gap: 1.5rem;
    }
}

.question__prev,
.answer__prev {
    font-family: "EB Garamond", serif;
    font-size: 1.6rem;
}

@media (min-width:768px) {

    .question__prev,
    .answer__prev {
        font-size: 1.8rem;
    }
}

.question__prev,
.question__text {
    color: #444;
}

.question__text,
.answer__text {
    line-height: 1.85;
    font-size: 1.5rem;
}

.question__text {
    padding-top: .1rem;
    padding-right: 1rem;
}

.answer__text {
    padding-left: .2rem;
}

.question__icon {
    position: absolute;
    top: 23%;
    right: 4%;
    font-size: 1.5rem;
}

@media (min-width:768px) {
    .question__icon {
        top: 32%;
    }
}

.triangle-up .question__icon {
    transform: rotate(180deg);
}

@media (min-width:768px) {
    .triangle-up .question__icon {
        top: 36%;
    }
}


/* shop ----------*/

.secondary-shop {
    margin-top: 5rem;
    margin-bottom: 1rem;
}

@media (min-width:768px) {
    .secondary-shop {
        margin: 0;
        margin-bottom: 1rem;
    }
}



/* pagetop ----------*/
.button-to-top {
    position: sticky;
    bottom: 1rem;
    left: 0;
    display: flex;
    justify-content: flex-end;
    margin-right: 1.6rem;
    line-height: 1;
}

@media (min-width:768px) {
    .button-to-top {
        bottom: 3rem;
        margin-right: 15rem;
    }
}

#button-to-top {
    padding: .3rem .4rem;
    font-size: 3.2rem;
    background-color: #0071CE;
}




/* footer ----------*/
.footer {
    padding-top: 1.6rem;
    padding-bottom: 2.4rem;
    background-color: #0071CE;
}

@media (min-width:768px) {
    .footer {
        display: flex;
        justify-content: space-between;
        padding: 2.4rem 18.2rem;
    }
}

.footer__inner {
    font-family: "Marcellus", serif;
    font-size: 2.8rem;
    font-weight: 400;
    color: #fff;
    text-align: center;
    letter-spacing: .55rem;
    text-indent: .5rem;
}

@media (min-width:768px) {
    .footer__inner {
        font-size: 3.2rem;
        letter-spacing: .63rem;
        text-indent: 0;
    }
}

@media (min-width:768px) {
    .contact {
        margin-left: 4.5rem;
    }
}

.contact__list {
    margin-top: 1.6rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    column-gap: 3rem;
    font-size: 1.2rem;
}

@media (min-width:768px) {
    .contact__list {
        font-size: 1.4rem;
        column-gap: 3.2rem;
    }
}

.footer__foot {
    text-align: center;
    font-size: 1.1rem;
    text-indent: .3rem;
    letter-spacing: .1rem;
    color: #fff;
}

@media (min-width:768px) {
    .footer__foot {
        font-size: 1.2rem;
        margin-top: 1.8rem;
        letter-spacing: .11rem;
    }
}